* {
  box-sizing: border-box;
}

#calendar {
  text-align: center;
}
.day {
  display: inline-block;
  width: 13%;
  height: 400px;
  padding: 0.5em;
  border: 1px solid black;
}

.today {
  background-color: lightblue;
}
